rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Permitir todo a cualquier usuario autenticado
    // (Ideal para desarrollo entre amigos)
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
    
    // REGLAS ESPECÍFICAS (Opcional, pero para mantener orden)
    // Usuarios (Consolidado de usuariosPendientes y usuariosPermitidos)
    match /usuarios/{email} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
  }
}
